#header {
    position: relative;
    background: transparent;
    color: #fff;
    cursor: default;
}
#header h1 {
    color: #d64760
}
body {
    background-image: url("images/overlay.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
    background-image: url("images/overlay.png"), linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
    background-position: top left, bottom left, auto;
    background-size: auto, 100% 100%, cover;
    background-repeat: repeat, no-repeat, auto;
    padding: 0;
    font-size: 12pt;
    line-height: 1.75em;
    height: 100%;
}
/* Mobile */
@media screen and (max-width: 736px) {
    body {
        background-image: url("../../images/bg.jpg");
        background-position: top left, bottom left, auto;
        background-size: auto, 100% 100%, cover;
        background-repeat: repeat, no-repeat, auto;
        padding: 0;
        font-size: 12pt;
        line-height: 1.75em;
        height: 100%;
    }
    #header {
        position: relative;
        color: #fff;
        cursor: default;
    }
    #header h1 {
        color: #d64760;
    }
}
